{% extends 'student_management_system_app/admin_template/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Delete Session Year{% endblock title %}

{% block page_title %}
Delete Session Year |  Session Year ID : {{ sessionyear.id }}
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Session Year Details</h3>
                    </div>
                    <!-- /.card-header -->

                    <!-- form start -->
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{form|crispy}}
                        </div>                        
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Delete Session Year</button>
                        </div>
                    </form>

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock main_content %}