 <form role="form" action="{{ action_path }}" method="POST" enctype="multipart/form-data">
   {% csrf_token %}
   <div class="card-body">

    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
      <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
        <span class="small">{{ field.help_text|safe}}</span>
      </div>
      {% endif %}
    {% endfor %}

   </div>
   <!-- /.card-body -->

   <div class="card-footer">
     <button type="submit" class="btn btn-primary btn-block">{{ button_text }}</button>
   </div>
 </form>