{% extends 'student_management_system_app/admin_template/base_template.html' %}

{% block title %}Manage Session Year{% endblock title %}

{% block page_title %}
Manage Session Year
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Session Year Details</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Session Start</th>
                  <th>Session End</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% if session_years %}
                  {% for session_year in session_years %}
                  <tr>
                    <td>{{ session_year.id }}</td>
                    <td>{{ session_year.session_start }}</td>
                    <td>{{ session_year.session_end }}</td>
                    <td>
                        <a href="{% url 'student_management_system_app:edit_session_year' session_year.id %}"
                          class="btn btn-success">Edit</a>
                        <a href="{% url 'student_management_system_app:delete_session_year' session_year.id %}"
                          class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                      <td colspan="3">
                        <div class="alert alert-warning alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                          You have not saved any session years yet!
                        </div>
                      </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}