{% extends 'student_management_system_app/admin_template/base_template.html' %}

{% block title %}Staff Feedback{% endblock title %}

{% block page_title %}
Staff Feedback
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Staff Feedback</h3>
                    </div>
                    <!-- /.card-header -->

                    <!-- form start -->
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Staff ID</th>
                                <th>Staff Name</th>
                                <th>Feedback Message</th>
                                <th>Sent on</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if feedbacks %}
                            {% for feedback in feedbacks %}
                            <tr>
                                <td>{{ feedback.id }}</td>
                                <td>{{ feedback.staff_id.admin.id }}</td>
                                <td>{{ feedback.staff_id.admin.first_name }} {{ feedback.staff_id.admin.last_name }}
                                </td>
                                <td>{{ feedback.feedback_message }}</td>
                                <td>{{ feedback.created_at }}</td>
                                <td>
                                    {% if feedback.feedback_reply == "" %}
                                    <button class="btn btn-success reply_open_modal" data-toggle="modal"
                                        data-target="#reply_modal">Reply</button>
                                    {% else %}
                                    {{ feedback.feedback_reply }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="14">
                                    <div class="alert alert-warning alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">×</button>
                                        <h5><i class="icon fas fa-exclamation-triangle"></i>Alert!</h5>
                                        There is no feedbacks yet!
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<!-- Modal Popup for Reply -->
<!-- Modal -->
<div class="modal fade" id="reply_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reply</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="reply_id" name="reply_id">
                <div class="form-group">
                    <label for="comment">Reply To: <span id="reply_name"></span></label>
                </div>
                <div class="form-group">
                    <label for="comment">Message:</label>
                    <textarea class="form-control" rows="5" id="reply_message"></textarea>
                </div>

                <button id="reply_btn" class="btn btn-info btn-block">Reply</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function () {
        $('.reply_open_modal').click(function () {
            var id = $(this).parents("tr").children("td:eq(0)").text();
            var name = $(this).parents("tr").children("td:eq(2)").text();
            $("#reply_id").val(id);
            $("#reply_name").text(name);
        });

        $(document).on("click", "#reply_btn", function () {

            $(this).attr("disabled", "disabled");
            $(this).text("Sending Reply...");

            var id = $("#reply_id").val();
            var message = $("#reply_message").val();

            $.ajax({
                    url: "{% url 'student_management_system_app:staff_feedback_message_replied'%}",
                    type: 'POST',
                    data: {
                        id: id,
                        message: message
                    },
                    datatype: 'json'
                })
                .done(function (response) {
                    if (response == "True") {
                        alert("Reply is sent Successfully.")
                    } else {
                        alert("Error while sending Reply!")
                    }
                    location.reload();
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error while sending Reply!');
                })
        });

    })
</script>
{% endblock custom_js %}