 {% extends 'registration/base_template.html' %}
 {% load static %}

 {% block title %}
 Forgot Password Instruction Sent
 {% endblock title %}

 {% block main_content %}
 <div class="info-box mb-12 bg-success">
     <div class="info-box-content">
         <h4>Thank you!</h4>
         <p>If your Account exists, you will recieve an email providing Instruction to Reset your Password on your
             provided email address.</p>
     </div>
     <!-- /.info-box-content -->
 </div>
 {% endblock main_content %}