 {% extends 'registration/base_template.html' %}
 {% load static %}

 {% block title %}
 Forgot Password
 {% endblock title %}

 {% block main_content %}
 <div class="card-body login-card-body">
     <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

     <form method="POST">
         {% csrf_token %}

         <div class="input-group mb-3">
            {% for field in form %}
                {{ field.errors }}
                {% comment %} {{ field.label_tag }} {% endcomment %}
                {% comment %} {{ field }} {% endcomment %}
                <input type="email" id="{{ field.id_for_label }}" class="form-control" placeholder="{{ field.html_name|title }}" name="{{ field.html_name }}">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            {% endfor %}             
         </div>

         <div class="row">
             <!-- /.col -->
             <div class="col-12">
                 <button type="submit" class="btn btn-success btn-block">Request new password</button>
             </div>
             <!-- /.col -->
         </div>
     </form>
 </div>
 <!-- /.login-card-body -->
 </div>
 {% endblock main_content %}