 {% extends 'registration/base_template.html' %}
 {% load static %}

 {% block title %}
 Change Password Confirmation
 {% endblock title %}

 {% block main_content %}
 {% if validlink %}
 <div class="card">
     <div class="card-body login-card-body">
         <p class="login-box-msg">You are only one step away from your new password. Set your New Password.</p>

         <form method="POST">
             {% csrf_token %}

             {% for field in form %}
             <div class="input-group mb-3">
                 {{ field.errors }}
                 {% comment %} {{ field.label_tag }} {% endcomment %}
                 {% comment %} {{ field }} {% endcomment %}
                 <input type="password" id="{{ field.id_for_label }}" class="form-control"
                     placeholder="{{ field.label|title }}" name="{{ field.html_name }}">
                 <div class="input-group-append">
                     <div class="input-group-text">
                         <span class="fas fa-lock"></span>
                     </div>
                 </div>
                 {% if field.help_text %}
                 <small>{{ field.help_text|safe }}</small>
                 {% endif %}
             </div>
             {% endfor %}


             <div class="row">
                 <!-- /.col -->
                 <div class="col-12">
                     <button type="submit" class="btn btn-success btn-block">Change Password</button>
                 </div>
                 <!-- /.col -->
             </div>
         </form>
     </div>
     <!-- /.login-card-body -->
 </div>
 {% else %}

 <div class="info-box mb-12 bg-danger">
     <div class="info-box-content">
         <h4>There is a problem!</h4>
         <p>This Password Link is already Expired or Invalid!</p>
     </div>
     <!-- /.info-box-content -->
 </div>
 {% endif %}
 {% endblock main_content %}