{% extends 'student_management_system_app/staff_template/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ total_students }}</h3>

            <p>My Total Students</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'student_management_system_app:take_attendance' %}" class="small-box-footer">Take Attendance
            <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ attendance_count }}</h3>

            <p>Total Attendance Taken</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'student_management_system_app:view_attendance_reports' %}" class="small-box-footer">View
            reports
            <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ approved_leave_count }}</h3>

            <p>Total Approved Leave</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'student_management_system_app:staff_apply_leave' %}" class="small-box-footer">Request a leave
            <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ total_subjects }}</h3>

            <p>Total Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">&nbsp;</a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-6">
        <!-- PIE CHART -->
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Attendance VS Leave Chart</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart" id="pie_chart">
              <canvas id="pieChart"
                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 444px;"
                width="666" height="375" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col (LEFT) -->

      <div class="col-md-6">
        <!-- STACKED BAR CHART -->
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Present VS Absent by Subject Chart</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart" id="stackedbar_subject_chart">
              <canvas id="subject_stackedBarChart"
                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col (RIGHT) -->

    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-12">
        <!-- STACKED BAR CHART -->
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Student Attendance Data</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart" id="stackedbar_student_chart">
              <canvas id="student_stackedBarChart"
                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->

  </div>
</section>
<!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script>
  $(function () {

    if ({{ attendance_count }} > 0) {

      /* ChartJS
       * -------
       * Here we will create a few charts using ChartJS
       */

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData = {
        labels: [
          'Attendance',
          'Leave',
        ],
        datasets: [{
          data: [
              {{ attendance_count }}, 
              {{ approved_leave_count }}
            ],
          backgroundColor: ['#28a745', '#dc3545'],
        }]
      }

      var pieOptions = {
        maintainAspectRatio: false,
        responsive: true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
      })

      //---------------------
      //- STACKED BAR CHART -
      //---------------------      
      var subjects = {{ subject_list | safe }};
      var present_attendance_by_subject_count = {{ present_attendance_by_subject_count_list }};
      var absent_attendance_by_subject_count = {{ absent_attendance_by_subject_count_list }};

      var barChartData = {
        labels: subjects,
        datasets: [{
            label: 'Present',
            backgroundColor: 'rgba(60,141,188,0.9)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: present_attendance_by_subject_count
          },
          {
            label: 'Absent',
            backgroundColor: 'rgba(210, 214, 222, 1)',
            borderColor: 'rgba(210, 214, 222, 1)',
            pointRadius: false,
            pointColor: 'rgba(210, 214, 222, 1)',
            pointStrokeColor: '#c1c7d1',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data: absent_attendance_by_subject_count
          },
        ]
      }

      var stackedBarChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            stacked: true,
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              // max: 5,
              min: 0,
              stepSize: 1
            }
          }]
        }
      }

      var stackedBarChartCanvas = $('#subject_stackedBarChart').get(0).getContext('2d')
      var stackedBarChartData = jQuery.extend(true, {}, barChartData)

      var subject_stackedBarChart = new Chart(stackedBarChartCanvas, {
        type: 'bar',
        data: stackedBarChartData,
        options: stackedBarChartOptions
      })

      //---------------------
      //- STACKED BAR CHART -
      //---------------------
      var students = {{ student_list | safe }};
      var present_attendance_by_student_count = {{ present_attendance_by_student_count_list }};
      var absent_attendance_by_student_count = {{ absent_attendance_by_student_count_list }};

      var barChartData = {
        labels: students,
        datasets: [{
            label: 'Present',
            backgroundColor: 'rgba(60,141,188,0.9)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: present_attendance_by_student_count
          },
          {
            label: 'Absent',
            backgroundColor: 'rgba(210, 214, 222, 1)',
            borderColor: 'rgba(210, 214, 222, 1)',
            pointRadius: false,
            pointColor: 'rgba(210, 214, 222, 1)',
            pointStrokeColor: '#c1c7d1',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data: absent_attendance_by_student_count
          },
        ]
      }

      var stackedBarChartCanvas = $('#student_stackedBarChart').get(0).getContext('2d')
      var stackedBarChartData = jQuery.extend(true, {}, barChartData)

      var student_stackedBarChart = new Chart(stackedBarChartCanvas, {
        type: 'bar',
        data: stackedBarChartData,
        options: stackedBarChartOptions
      })
    } else {
      $("#pie_chart").html("No Attendance Records Found!")
      $("#stackedbar_subject_chart").html("No Attendance Records Found!")
      $("#stackedbar_student_chart").html("No Attendance Records Found!")
    }

  })
</script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-messaging.js"></script>
<script type="text/javascript">
  // TODO: Replace the following with your app's Firebase project configuration
  const firebaseConfig = {
    apiKey: "AIzaSyDNwB2NsBw1UOH4_w3VSNNfQKH946HkT5c",
    authDomain: "studentmanagementsystem-379fd.firebaseapp.com",
    databaseURL: "https://studentmanagementsystem-379fd.firebaseio.com",
    projectId: "studentmanagementsystem-379fd",
    storageBucket: "studentmanagementsystem-379fd.appspot.com",
    messagingSenderId: "915561761420",
    appId: "1:915561761420:web:26c3c7bc8dfffbf36309a9",
    measurementId: "G-19Y529Q293"
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  // Retrieve Firebase Messaging object.
  const messaging = firebase.messaging();

  function InitializeFireBaseMessaging() {
    messaging
      .requestPermission()
      .then(function () {
        console.log("Notification Permission");
        return messaging.getToken();
      })
      .then(function (currentToken) {
        console.log("Token : " + currentToken);
        sendToServer(currentToken);
      })
      .catch(function (err) {
        console.log(err);
      });
  }

  messaging.onMessage(function (payload) {
    console.log(payload);
    const notificationOptions = {
      body: payload.notification.body,
      icon: payload.notification.icon
    };

    if (Notification.permission === "granted") {
      var notification = new Notification(payload.notification.title, notificationOptions);

      notification.onclick = function (ev) {
        ev.preventDefault();
        window.open(payload.notification.click_action, '_blank');
        notification.close();
      }
    }
  });
  messaging.onTokenRefresh(function () {
    messaging.getToken()
      .then(function (refreshedToken) {
        console.log("New Token : " + refreshedToken);
        sendToServer(refreshedToken);
      })
      .catch(function (err) {
        console.log(err);
      });

  });

  function sendToServer(token) {
    $.ajax({
        url: "{% url 'student_management_system_app:staff_fcm_token_save'%}",
        type: 'POST',
        data: {
          token: token
        },
        datatype: 'json'
      })
      .done(function (response) {
        // console.log(response);
        if (response == "True") {
          console.log("Token saved.")
        } else {
          console.log("Error while saving Token!")
        }
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        alert("Error while saving Token!");
      })
  }

  InitializeFireBaseMessaging();
</script>
{% endblock custom_js %}