{% extends 'student_management_system_app/staff_template/base_template.html' %}

{% load crispy_forms_tags %}

{% block title %}Take Attendance{% endblock title %}

{% block page_title %}
Take Attendance
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Attendance</h3>
          </div>
          <!-- /.card-header -->

          <!-- form start -->
          <div class="card-body">
            <div class="form-group">
              <label>Subject</label>
              <select class="form-control" name="subject" id="subject">
                {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Session Year</label>
              <select class="form-control" name="session_year" id="session_year">
                {% for session_year in session_years %}
                <option value="{{ session_year.id }}">{{ session_year.session_start }} TO
                  {{ session_year.session_end }}</option>
                {% endfor %}
              </select>
            </div>

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block" id="fetch_students">Fetch Students</button>
          </div>

          <div id="student_data" class="card-footer" style="display:none;">

          </div>

          <div class="form-group">
            <div id="empty_student" class="alert alert-warning alert-dismissible" style="display:none;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5><i class="icon fas fa-exclamation-triangle"></i>Alert!</h5>
              No Student Data Found!
            </div>
          </div>

        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script>
  $(document).ready(function () {
    $('#fetch_students').click(function () {
      var subject = $("#subject").val();
      var session_year = $("#session_year").val();

      $.ajax({
          url: "{% url 'student_management_system_app:get_students'%}",
          type: 'POST',
          data: {
            subject: subject,
            session_year: session_year
          },
          datatype: 'json'
        })
        .done(function (response) {
          var json_data = JSON.parse(response);
          // console.log(json_data);
          if (json_data.length > 0) {
            var div_data =
              '<div class="form-group"> <label>Attendance Date </label> <input type="date" class="form-control" name="attendance_date" id="attendance_date" placeholder="Enter Attendance Date" required> </div><div class="form-group"><div class="row">';
            for (key in json_data) {
              div_data +=
                "<div class='col-lg-4'><div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' checked='checked' id='student_" +
                json_data[key].id + "' name='student_data[]' value=" + json_data[key].id +
                "><label for='student_" + json_data[key].id + "' class='custom-control-label'>" + json_data[
                  key]
                .name + "</label></div></div>";
            }
            div_data += '</div></div>';
            div_data += '<div class="form-group">';
            div_data +=
              '<button id="save_attendance" type="button" class="btn btn-success btn-block">Save Attendance Data</button>';
            div_data += '</div>';
            $("#student_data").html(div_data);
            $("#student_data").show();
            $("#empty_student").hide();
          } else {
            $("#student_data").hide();
            $("#empty_student").show();
          }
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
          alert('Error in Fetching Students!');
          $("#student_data").hide();
          $("#empty_student").hide();
        })
    });

    $(document).on("click", "#save_attendance", function () {

      $(this).attr("disabled", "disabled");
      $(this).text("Saving Attendance Record...");
      var student_data = $("input[name='student_data[]']").map(function () {
        if ($(this).is(":checked")) {
          return {
            "id": $(this).val(),
            "status": 1
          };
        } else {
          return {
            "id": $(this).val(),
            "status": 0
          };
        }
      }).get();
      var attendance_date = $("#attendance_date").val();

      var subject_id = $("#subject").val();
      var session_year_id = $("#session_year").val();

      student_data = JSON.stringify(student_data)
      //console.log(student_data);

      $.ajax({
          url: "{% url 'student_management_system_app:save_attendance_data'%}",
          type: 'POST',
          data: {
            student_ids: student_data,
            attendance_date: attendance_date,
            subject_id: subject_id,
            session_year_id: session_year_id
          },
          datatype: 'json'
        })
        .done(function (response) {
          if (response == "OK") {
            alert("Attendance Record is saved Successfully.")
          } else {
            alert("Error in saving Attendance Record!")
          }
          location.reload();
          // var json_data = JSON.parse(response);
          // console.log(response);
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
          alert('Error in Saving Attendance Record!');
        })
    });
  })
</script>
{% endblock custom_js %}